h1 {
    background-image: url(../images/pattern.jpeg);
    font-family: Helvetica;
    font-size: 80px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

body {
    margin: 50px;
}

.sections {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: rgb(211, 87, 139);
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

p, h1, h2, h3, h4 {
    font-family: helvetica;
}

.price {
    color: blue;
    font-weight: bold;
}